.userList{
    
    margin-left: 20%;
    padding: 3%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    display: flex;
    background-color: azure;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 10px;
    width:50%;
    background-color: rosybrown;
}

.wholeBackGround{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #002b33, #008b8b);
}